.main{
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

button{
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.btns{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

h1,h2{
    font-size: 40px;
    color: white;
}

@media screen and (max-width:1000px) {
    h1,h2{
        font-size: 5vw;
    }
    button{
        font-size: 3vw;
    }
}